<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARmVM8jxTikIpIa8cFhra_6cmkI9d4QQY</string>
	<key>GCM_SENDER_ID</key>
	<string>31442889389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FIRSTtrial.com.Textsy</string>
	<key>PROJECT_ID</key>
	<string>swiftuichatapp-6f61a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichatapp-6f61a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31442889389:ios:a5c744dfe32759543d7424</string>
</dict>
</plist>